block intro

	.wrapper
		each val, index in ['1', '2', '3', '4', '5']
			.square(id=`sq${val}`)
				strong Box #{val}
				p#position
				p#z-index
				p#top
				p#right
				p#bottom
				p#left

	p.sc__description
		strong ❗️Note:
		|
		| wrapper (white box) is
		|
		|
		code position: relative

