
// ----------------------------
// Variables
// ----------------------------


// Colors
$bg-wrapper: #fff;
$c-main: #9ad8d3;
$c-main-dark: #3a9e96;
$c-dark: #1f4798;
$c-pastel: #c0f4ee;
$c-grey: #4c4d4e;
$c-footer: #afafaf;


// Breakpoints
$xs: 392px;
$sm: 480px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
